body {
background-image: url(./image/background\ 1.png);
width: 100%;
height: 100%;
color: white;
background-size: cover;
} 

.container {
position: relative;
display: grid;
grid-template-rows: 1fr 1fr;
grid-template-columns: 1fr 1fr 1fr;
row-gap: 78px;
column-gap: 61px;
width: 1030px;
margin-left: auto;
margin-right: auto;
}

.image {
width: 300px;
height: 220px;
margin-bottom: 0;
display: block;
}

.card-1 {
height: 220px;
grid-column-start: 1;
grid-column-end: 2;
grid-row-start: 1;
grid-row-end: 2;
text-align: center;
position: relative;
display: flex;
align-items: flex-end;
margin-bottom: 20px; 
}

.card-2 {
height: 220px;
grid-column-start: 2;
grid-column-end: 3;
grid-row-start: 1;
grid-row-end: 2;
text-align: center;
position: relative;
display: flex;
align-items: flex-end;
margin-bottom: 20px;
}

.card-3 {
height: 220px;
grid-column-start: 3;
grid-column-end: 4;
grid-row-start: 1;
grid-row-end: 2;
text-align: center;
position: relative;
display: flex;
align-items: flex-end;
margin-bottom: 20px;
}

.card-4 {
height: 220px;
grid-column-start: 3;
grid-column-end: 4;
grid-row-start: 1;
grid-row-end: 2;
text-align: center;
position: relative;
display: flex;
align-items: flex-end;
margin-bottom: 20px;
}

.card-5 {
height: 220px;
grid-column-start: 2;
grid-column-end: 3;
grid-row-start: 1;
grid-row-end: 2;
text-align: center;
position: relative;
display: flex;
align-items: flex-end;
margin-bottom: 20px;
}

.card-6 {
height: 220px;
grid-column-start: 3;
grid-column-end: 4;
grid-row-start: 1;
grid-row-end: 2;
text-align: center;
position: relative;
display: flex;
align-items: flex-end;
margin-bottom: 20px;
}

.link {
text-decoration: none;
color: #FFF;
}

.card {
width: 300px;
height: 260px;
text-align: center;
}

.card:hover .link{
color: #F26522;
}

.footer {
text-align: center;
margin-top: 49px;
color: white;
margin-top: 90px;
margin-bottom: 15px;
}

.button {
display: flex;
text-decoration: none;
color: white;
}

.button:hover {
color: #F26522;
}

.header {
display: flex;
justify-content: space-between;
margin-top: 46px;
margin-bottom: 17px;
width: 1030px;
margin-left: auto;
margin-right: auto;
}

.logo-text {
color: #fff;
display: flex;
flex-direction: column;
align-items: self-start;
}

.header-left:hover .logo-text{
color: #F26522;
}

.header-right {
display: flex;
width: 219px;
height: 61px;
flex-direction: column;
justify-content: space-between;
flex-shrink: 0;
align-items: end;
}

.header-left {
display: flex;
align-items: center;
}

.logo-text {
display: flex;
flex-direction: column;
margin-left: 8px;
}

.milan {
font-family: Roboto;
font-size: 29px;
font-style: normal;
font-weight: 700;
line-height: 30px; 
}

.holidays {
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 21px; 
}

.orange {
opacity: 0;
display: flex;
background-color: #F26522;
width: 100%;
justify-content: space-between;
position: absolute;
bottom: 0; 
}

.card:hover .orange{
transition: 400ms;
opacity: 1;
}

.from {
color: #FFF;
font-family: Roboto;
font-size: 10px;
font-style: normal;
font-weight: 400;
line-height: 10px;
margin-top: 7px;
}

.e50 {
color: #FFF;
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 20px;
margin-top: 8px;
margin-left: 16px;
margin-bottom: 12px;
}

.details {
color: #FFF;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 14px;
margin-top: 29px;
}

.orange-right {
display: flex; 
}

.orange-right::after {
    width: 5px;
    height: 10px;
    margin-top: 29px;
    margin-left: 16px;
    margin-right: 16px;
    content: url('./image/Vector\ 1.svg');
}
/* .orange-icon {
width: 5px;
height: 10px;
margin-top: 29px;
margin-left: 16px;
margin-right: 16px;
} */
/* .orange-icon::after {
    content: url('./image/Vector\ 1.svg');
} */

.logoimage {
height: 47px;
width: 53px;
}

.header-left .logoimage:nth-of-type(2){
display: none;
}  

.header-left:hover .logoimage:nth-of-type(1){
display: none;
}

.header-left:hover .logoimage:nth-of-type(2){
display: block;
}
/* 
ВТОРОЙ ВАРИАНТ ДЛЯ ДОМИКА И ТЕКСТА

.logo::before {
    display: inline-block;
    width: 53px;
    height: 47px;
    content: '';
    background-image: url(./image/logo\ .svg);
    }

    .logo:hover::before {
    background-image: url(./image/logo\ 2.svg);
    } */